In [1]:
import pandas as pd

In [61]:
pwd='/home/mgcl/Escritorio/Quinto semestre/Taller DCD 3/Tareas/Taller 2/pandas_data/pandas_data/surveys.csv' 
surveys_df = pd.read_csv(pwd,sep=',')

# Pandas 01 **Trabajando con Pandas DataFrames en Python**

In [3]:
#  a)
columns=surveys_df.columns
print(columns)

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [4]:
# b)
shape=surveys_df.shape
print(shape)
print(type(shape))

# Entrega un dato tipo tupla

(35549, 9)
<class 'tuple'>

In [5]:
# c)
head=surveys_df.head()
print(head)

#Muestra las primeras 5 filas del Dataframe

   record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
0          1      7   16  1977        2         NL   M             32.0
1          2      7   16  1977        3         NL   M             33.0
2          3      7   16  1977        2         DM   F             37.0
3          4      7   16  1977        7         DM   M             36.0
4          5      7   16  1977        3         DM   M             35.0

   weight
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN

In [6]:
head=surveys_df.head(15)
print(head)

#Agregando el argumento 25 dentro del atributo nos arroja las primeras 25 filas del dataframe

    record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0           1      7   16  1977        2         NL    M             32.0
1           2      7   16  1977        3         NL    M             33.0
2           3      7   16  1977        2         DM    F             37.0
3           4      7   16  1977        7         DM    M             36.0
4           5      7   16  1977        3         DM    M             35.0
5           6      7   16  1977        1         PF    M             14.0
6           7      7   16  1977        2         PE    F              NaN
7           8      7   16  1977        1         DM    M             37.0
8           9      7   16  1977        1         DM    F             34.0
9          10      7   16  1977        6         PF    F             20.0
10         11      7   16  1977        5         DS    F             53.0
11         12      7   16  1977        7         DM    M             38.0
12         13      7   16  1977        3         DM    M             35.0
13         14      7   16  1977        8         DM  NaN              NaN
14         15      7   16  1977        6         DM    F             36.0

    weight
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN

In [7]:
# d)

tail=surveys_df.tail()
print(tail)

# Este atributo entrega las ultimas 5 filas del dataframe

       record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
35544      35545     12   31  2002       15         AH  NaN              NaN
35545      35546     12   31  2002       15         AH  NaN              NaN
35546      35547     12   31  2002       10         RM    F             15.0
35547      35548     12   31  2002        7         DO    M             36.0
35548      35549     12   31  2002        5        NaN  NaN              NaN

       weight
35544     NaN
35545     NaN
35546    14.0
35547    51.0
35548     NaN

# 3)

In [11]:
# a) ocupando el atributo .value_counts() podemos hacer un conteo de ocurrencias en la columna indicada.
count = surveys_df['sex'].value_counts()

N_F=count['F']
N_M=count['M']

print('El número de individuos femeninos es: ' + str(N_F ))
print('El número de individuos machos es: ' + str(N_M ))

El número de individuos femeninos es: 15690
El número de individuos machos es: 17348

In [18]:
#b)
grouped_data2 = surveys_df.groupby(['plot_id','sex'])
media=grouped_data2.mean()
media
#Lo que hace es juntar las filas que poseen el mismo plot_id y realiza una media total de todas las variables separando entre los 
#sexos femenino y masculino.

                record_id     month        day         year  hindfoot_length  \
plot_id sex
1       F    18390.384434  6.597877  15.338443  1990.933962        31.733911
        M    17197.740639  6.121461  15.905936  1990.091324        34.302770
2       F    17714.753608  6.426804  16.288660  1990.449485        30.161220
        M    18085.458042  6.340035  15.440559  1990.756119        30.353760
3       F    19888.783875  6.610302  15.993281  1992.013438        23.774044
        M    20226.767857  6.277381  16.271429  1992.275000        23.833744
4       F    17489.205275  6.447248  15.608945  1990.235092        33.249102
        M    18493.841748  6.436893  16.303883  1991.000971        34.097959
5       F    12280.793169  6.142315  15.722960  1986.485769        28.921844
        M    12798.426621  6.194539  15.703072  1986.817406        29.694794
6       F    19406.503392  6.640434  15.947083  1991.579376        26.981322
        M    17849.574607  6.043194  15.856021  1990.556283        27.425591
7       F    19069.668657  6.385075  15.313433  1991.441791        19.779553
        M    19188.729642  6.719870  15.778502  1991.462541        20.536667
8       F    18920.276190  6.644048  15.479762  1991.267857        32.187578
        M    19452.109868  6.585961  15.427263  1991.686673        33.751059
9       F    16217.497069  6.507620  15.309496  1989.303634        35.126092
        M    18000.710159  6.369522  14.970120  1990.632470        34.175732
10      F    16001.496454  5.588652  16.964539  1989.248227        18.641791
        M    15708.704225  5.718310  16.739437  1989.007042        19.567164
11      F    16994.962287  6.770073  15.954988  1989.836983        32.029299
        M    16933.909621  6.379981  15.799806  1989.856171        32.078014
12      F    17457.966981  6.509434  16.305660  1990.266981        30.975124
        M    17592.327500  6.304167  16.367500  1990.400833        31.762489
13      F    18033.100318  6.815287  15.847134  1990.619427        27.201014
        M    16969.044700  6.485313  15.851852  1989.911877        27.893793
14      F    17097.145275  6.519041  16.427362  1989.974612        32.973373
        M    17891.948598  6.666355  16.336449  1990.587850        32.961802
15      F    20602.449064  6.582121  15.787942  1992.523909        21.949891
        M    18104.019560  6.193154  17.193154  1990.770171        21.803109
16      F    19002.445946  6.369369  16.549550  1991.351351        23.144928
        M    18434.714286  6.208791  16.402930  1990.926740        23.480916
17      F    18234.322870  6.650224  15.892377  1990.785874        30.918536
        M    18857.651472  6.569801  16.183286  1991.331434        32.227634
18      F    17940.875497  6.698013  15.960265  1990.536424        26.690341
        M    15106.718850  6.610224  16.797125  1988.551118        27.703072
19      F    21848.216475  6.701149  15.226054  1993.417625        21.257937
        M    19470.779690  6.533563  16.647160  1991.740103        21.071685
20      F    17510.769231  6.743077  16.026154  1990.253846        27.069193
        M    16076.192496  6.489396  16.375204  1989.243067        27.908451
21      F    22452.636661  6.860884  16.307692  1993.878887        22.366554
        M    20120.399113  6.671840  16.203991  1992.199557        21.736721
22      F    18499.695976  6.651267  15.521610  1990.973174        34.108320
        M    18015.365527  6.381872  16.682021  1990.650817        33.359746
23      F    15863.193939  6.860606  16.036364  1989.024242        20.051948
        M    17091.338164  6.391304  16.077295  1989.961353        19.850000
24      F    13702.224280  6.596708  16.393004  1987.485597        26.993377
        M    15208.136082  6.360825  16.971134  1988.641237        25.786996

                weight
plot_id sex
1       F    46.311138
        M    55.950560
2       F    52.561845
        M    51.391382
3       F    31.215349
        M    34.163241
4       F    46.818824
        M    48.888119
5       F    40.974806
        M    40.708551
6       F    36.352288
        M    36.867388
7       F    20.006135
        M    21.194719
8       F    45.623011
        M    49.641372
9       F    53.618469
        M    49.519309
10      F    17.094203
        M    19.971223
11      F    43.515075
        M    43.366197
12      F    49.831731
        M    48.909710
13      F    40.524590
        M    40.097754
14      F    47.355491
        M    45.159378
15      F    26.670236
        M    27.523691
16      F    25.810427
        M    23.811321
17      F    48.176201
        M    47.558853
18      F    36.963514
        M    43.546952
19      F    21.978599
        M    20.306878
20      F    52.624406
        M    44.197279
21      F    25.974832
        M    22.772622
22      F    53.647059
        M    54.572531
23      F    20.564417
        M    18.941463
24      F    47.914405
        M    39.321503

In [16]:
# c) Ocupamos la agrupación por columna plot_id para luego ocupar la función solicidad .describe()

agrup = surveys_df.groupby('plot_id')
agrup['weight'].describe()

          count       mean        std  min   25%   50%   75%    max
plot_id
1        1903.0  51.822911  38.176670  4.0  30.0  44.0  53.0  231.0
2        2074.0  52.251688  46.503602  5.0  24.0  41.0  50.0  278.0
3        1710.0  32.654386  35.641630  4.0  14.0  23.0  36.0  250.0
4        1866.0  47.928189  32.886598  4.0  30.0  43.0  50.0  200.0
5        1092.0  40.947802  34.086616  5.0  21.0  37.0  48.0  248.0
6        1463.0  36.738893  30.648310  5.0  18.0  30.0  45.0  243.0
7         638.0  20.663009  21.315325  4.0  11.0  17.0  23.0  235.0
8        1781.0  47.758001  33.192194  5.0  26.0  44.0  51.0  178.0
9        1811.0  51.432358  33.724726  6.0  36.0  45.0  50.0  275.0
10        279.0  18.541219  20.290806  4.0  10.0  12.0  21.0  237.0
11       1793.0  43.451757  28.975514  5.0  26.0  42.0  48.0  212.0
12       2219.0  49.496169  41.630035  6.0  26.0  42.0  50.0  280.0
13       1371.0  40.445660  34.042767  5.0  20.5  33.0  45.0  241.0
14       1728.0  46.277199  27.570389  5.0  36.0  44.0  49.0  222.0
15        869.0  27.042578  35.178142  4.0  11.0  18.0  26.0  259.0
16        480.0  24.585417  17.682334  4.0  12.0  20.0  34.0  158.0
17       1893.0  47.889593  35.802399  4.0  27.0  42.0  50.0  216.0
18       1351.0  40.005922  38.480856  5.0  17.5  30.0  44.0  256.0
19       1084.0  21.105166  13.269840  4.0  11.0  19.0  27.0  139.0
20       1222.0  48.665303  50.111539  5.0  17.0  31.0  47.0  223.0
21       1029.0  24.627794  21.199819  4.0  10.0  22.0  31.0  190.0
22       1298.0  54.146379  38.743967  5.0  29.0  42.0  54.0  212.0
23        369.0  19.634146  18.382678  4.0  10.0  14.0  23.0  199.0
24        960.0  43.679167  45.936588  4.0  19.0  27.5  45.0  251.0

In [22]:
# c) Primero agrupamos muestralmente (plot_id) y finalmente al DF agrupamos le realizamos un conteo de la variable "species_id"
group_m = surveys_df.groupby('plot_id')
species_counts = group_m['species_id'].value_counts()
species_counts

plot_id  species_id
1        DM            607
         DO            488
         DS            234
         PP            220
         PB            112
                      ...
24       PF              4
         SH              4
         SO              3
         SA              2
         PU              1
Name: species_id, Length: 588, dtype: int64

# Pandas 02 **Indexación, segmentación y creación de subconjuntos a partir de DataFrames en Python**

# 1) Rangos

In [23]:
# a) Nos muestra la primera fila
print(surveys_df[0:1])

   record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
0          1      7   16  1977        2         NL   M             32.0

   weight
0     NaN

In [24]:
# a) Le pedimos desde la primera fila, hasta el elemento número 4, en este caso hasta la fila 3 (si partimos a contar desde la fila 0 )
print(surveys_df[:4])

   record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
0          1      7   16  1977        2         NL   M             32.0
1          2      7   16  1977        3         NL   M             33.0
2          3      7   16  1977        2         DM   F             37.0
3          4      7   16  1977        7         DM   M             36.0

   weight
0     NaN
1     NaN
2     NaN
3     NaN

In [29]:
# a) Le indicamos como argumento en el atributo que nos seleccione hasta la última fila, si agregamos -2 sería la penúltima y así 
#sucesivamente.
print(surveys_df[:-1])

       record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0              1      7   16  1977        2         NL    M             32.0
1              2      7   16  1977        3         NL    M             33.0
2              3      7   16  1977        2         DM    F             37.0
3              4      7   16  1977        7         DM    M             36.0
4              5      7   16  1977        3         DM    M             35.0
...          ...    ...  ...   ...      ...        ...  ...              ...
35543      35544     12   31  2002       15         US  NaN              NaN
35544      35545     12   31  2002       15         AH  NaN              NaN
35545      35546     12   31  2002       15         AH  NaN              NaN
35546      35547     12   31  2002       10         RM    F             15.0
35547      35548     12   31  2002        7         DO    M             36.0

       weight
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
35543     NaN
35544     NaN
35545     NaN
35546    14.0
35547    51.0

[35548 rows x 9 columns]

In [31]:
#b) en el caso de loc e iloc, tratamos de seleccionar una cantidad de filas y columnas especificas, sin embargo 
#la forma de ubicar las columnas y filas en ambos atributos es distinta, una es con el string de la columna y la otra con indices enteros.
print(surveys_df.iloc[0:4, 1:4])

   month  day  year
0      7   16  1977
1      7   16  1977
2      7   16  1977
3      7   16  1977

In [33]:
print(surveys_df.loc[0:4, 1:4]) #Genera error por lo que está arriba.

TypeError: cannot do slice indexing on Index with these indexers [1] of type int

# 3) Consultas

In [34]:
# a) Se encuentran 55 filas con las dos condiciones indicadas 
df_sub = surveys_df[(surveys_df['year'] >= 1999) & (surveys_df['weight'] <= 8)]
#print(df_sub)
print(len(df_sub))

55

In [37]:
# b) Crear lista de valores únicos en la columna "plot_id" que contienen la especie en particular

nombre_de_la_especie='NL' #Especie ejemplo
unique_plots = surveys_df[surveys_df['species_id'] == nombre_de_la_especie]['plot_id'].unique()

# Usar la función isin para seleccionar las filas que contienen esos valores
selected_rows = surveys_df[surveys_df['plot_id'].isin(unique_plots)]

# Contar el número de registros seleccionados
num_records = len(selected_rows)
print(num_records)

35549

In [38]:
# c) Usamos condicionales dentro de la ubicación por método de indices
df_temp=surveys_df[surveys_df['weight'] >= 0]
print(df_temp)

       record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
62            63      8   19  1977        3         DM   M             35.0
63            64      8   19  1977        7         DM   M             37.0
64            65      8   19  1977        4         DM   F             34.0
65            66      8   19  1977        4         DM   F             35.0
66            67      8   19  1977        7         DM   M             35.0
...          ...    ...  ...   ...      ...        ...  ..              ...
35540      35541     12   31  2002       15         PB   F             24.0
35541      35542     12   31  2002       15         PB   F             26.0
35542      35543     12   31  2002       15         PB   F             27.0
35546      35547     12   31  2002       10         RM   F             15.0
35547      35548     12   31  2002        7         DO   M             36.0

       weight
62       40.0
63       48.0
64       29.0
65       46.0
66       36.0
...       ...
35540    31.0
35541    29.0
35542    34.0
35546    14.0
35547    51.0

[32283 rows x 9 columns]

In [40]:
#ocupamos el operador & para concatenar consultas
df_temp = surveys_df[(surveys_df['sex'] != 'F') & (surveys_df['sex'] != 'M')]
print(df_temp)

       record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
13            14      7   16  1977        8         DM  NaN              NaN
18            19      7   16  1977        4         PF  NaN              NaN
33            34      7   17  1977       17         DM  NaN              NaN
56            57      7   18  1977       22         DM  NaN              NaN
76            77      8   19  1977        4         SS  NaN              NaN
...          ...    ...  ...   ...      ...        ...  ...              ...
35527      35528     12   31  2002       13         US  NaN              NaN
35543      35544     12   31  2002       15         US  NaN              NaN
35544      35545     12   31  2002       15         AH  NaN              NaN
35545      35546     12   31  2002       15         AH  NaN              NaN
35548      35549     12   31  2002        5        NaN  NaN              NaN

       weight
13        NaN
18        NaN
33        NaN
56        NaN
76        NaN
...       ...
35527     NaN
35543     NaN
35544     NaN
35545     NaN
35548     NaN

[2511 rows x 9 columns]

# 4) Revisando todo lo aprendido

In [42]:
#a) concatenamos las consultas con el simbolo &
df = surveys_df[(surveys_df['sex'] != 'F') & (surveys_df['sex'] != 'M')]

       record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
13            14      7   16  1977        8         DM  NaN              NaN
18            19      7   16  1977        4         PF  NaN              NaN
33            34      7   17  1977       17         DM  NaN              NaN
56            57      7   18  1977       22         DM  NaN              NaN
76            77      8   19  1977        4         SS  NaN              NaN
...          ...    ...  ...   ...      ...        ...  ...              ...
35527      35528     12   31  2002       13         US  NaN              NaN
35543      35544     12   31  2002       15         US  NaN              NaN
35544      35545     12   31  2002       15         AH  NaN              NaN
35545      35546     12   31  2002       15         AH  NaN              NaN
35548      35549     12   31  2002        5        NaN  NaN              NaN

       weight
13        NaN
18        NaN
33        NaN
56        NaN
76        NaN
...       ...
35527     NaN
35543     NaN
35544     NaN
35545     NaN
35548     NaN

[2511 rows x 9 columns]

In [48]:
# b) 
df = surveys_df[(surveys_df['sex'] == 'F') | (surveys_df['sex'] == 'M') & (surveys_df['weight'] > 0)]  

print(df)

       record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
2              3      7   16  1977        2         DM   F             37.0
6              7      7   16  1977        2         PE   F              NaN
8              9      7   16  1977        1         DM   F             34.0
9             10      7   16  1977        6         PF   F             20.0
10            11      7   16  1977        5         DS   F             53.0
...          ...    ...  ...   ...      ...        ...  ..              ...
35540      35541     12   31  2002       15         PB   F             24.0
35541      35542     12   31  2002       15         PB   F             26.0
35542      35543     12   31  2002       15         PB   F             27.0
35546      35547     12   31  2002       10         RM   F             15.0
35547      35548     12   31  2002        7         DO   M             36.0

       weight
2         NaN
6         NaN
8         NaN
9         NaN
10        NaN
...       ...
35540    31.0
35541    29.0
35542    34.0
35546    14.0
35547    51.0

[32569 rows x 9 columns]

# Pandas 3 **Tipos de datos y formatos**

# 1)

In [51]:
#a) isnull nos entrega una matriz boleana en dónde se encuentran en 1 los valores nulos. Aplicamos sum() para sumarlos y obtenemos el total
#por columna
count = surveys_df.isnull().sum()
print(count)

record_id             0
month                 0
day                   0
year                  0
plot_id               0
species_id          763
sex                2511
hindfoot_length    4111
weight             3266
dtype: int64

In [56]:
# b)
surveys_df.plot_id.astype("float")

0         2.0
1         3.0
2         2.0
3         7.0
4         3.0
         ...
35544    15.0
35545    15.0
35546    10.0
35547     7.0
35548     5.0
Name: plot_id, Length: 35549, dtype: float64

In [57]:
# Este cambio de formato nos arroja error, ya que dentro de la columna se encuentran valores nulos.
surveys_df.weight.astype("integer")

TypeError: data type 'integer' not understood

 # Pandas 04 **Combinando DataFrames con Pandas**

In [76]:
pwd2='/home/mgcl/Escritorio/Quinto semestre/Taller DCD 3/Tareas/Taller 2/pandas_data/pandas_data/species.csv'
species_df = pd.read_csv(pwd2,sep=',')

In [77]:
print(species_df.head())

  species_id             genus          species    taxa
0         AB        Amphispiza        bilineata    Bird
1         AH  Ammospermophilus          harrisi  Rodent
2         AS        Ammodramus       savannarum    Bird
3         BA           Baiomys          taylori  Rodent
4         CB   Campylorhynchus  brunneicapillus    Bird

# 1)

In [78]:
survey_species = pd.merge(surveys_df, species_df, on='species_id')
print(survey_species)

       record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0              1      7   16  1977        2         NL    M             32.0
1              2      7   16  1977        3         NL    M             33.0
2             22      7   17  1977       15         NL    F             31.0
3             38      7   17  1977       17         NL    M             33.0
4             72      8   19  1977        2         NL    M             31.0
...          ...    ...  ...   ...      ...        ...  ...              ...
34781      28988     12   23  1998        6         CT  NaN              NaN
34782      35512     12   31  2002       11         US  NaN              NaN
34783      35513     12   31  2002       11         US  NaN              NaN
34784      35528     12   31  2002       13         US  NaN              NaN
34785      35544     12   31  2002       15         US  NaN              NaN

       weight          genus   species     taxa
0         NaN        Neotoma  albigula   Rodent
1         NaN        Neotoma  albigula   Rodent
2         NaN        Neotoma  albigula   Rodent
3         NaN        Neotoma  albigula   Rodent
4         NaN        Neotoma  albigula   Rodent
...       ...            ...       ...      ...
34781     NaN  Cnemidophorus    tigris  Reptile
34782     NaN        Sparrow       sp.     Bird
34783     NaN        Sparrow       sp.     Bird
34784     NaN        Sparrow       sp.     Bird
34785     NaN        Sparrow       sp.     Bird

[34786 rows x 12 columns]

In [90]:
#Con el código groupby, agrupamos por parcela o sector donde se toma la muestra y con el atributo .nunique()
# contamos todos los valores únicos en la columna 'taxa'
taxa_por_parcela = survey_species.groupby(['plot_id'])['taxa'].nunique()

taxa_por_parcela

plot_id
1     3
2     4
3     3
4     2
5     3
6     3
7     3
8     4
9     3
10    3
11    4
12    3
13    4
14    3
15    4
16    3
17    4
18    3
19    4
20    3
21    4
22    4
23    3
24    3
Name: taxa, dtype: int64

In [89]:
# b) Un poco de los mismo que el código anterior, en este caso agrupamos por plot_id (parcela) y sex

taxa_por_sexo_parcela = survey_species.groupby(['plot_id', 'sex'])['taxa'].nunique()
taxa_por_sexo_parcela

plot_id  sex
1        F      1
         M      1
2        F      1
         M      1
3        F      1
         M      1
4        F      1
         M      1
5        F      1
         M      1
6        F      1
         M      1
7        F      1
         M      1
8        F      1
         M      1
9        F      1
         M      1
10       F      1
         M      1
11       F      1
         M      1
12       F      1
         M      1
13       F      1
         M      1
14       F      1
         M      1
15       F      1
         M      1
16       F      1
         M      1
17       F      1
         M      1
18       F      1
         M      1
19       F      1
         M      1
20       F      1
         M      1
21       F      1
         M      1
22       F      1
         M      1
23       F      1
         M      1
24       F      1
         M      1
Name: taxa, dtype: int64

# 2)

In [91]:
pwd3='/home/mgcl/Escritorio/Quinto semestre/Taller DCD 3/Tareas/Taller 2/pandas_data/pandas_data/plots.csv'
plots_df = pd.read_csv(pwd3,sep=',')
#plots_df.head()

In [87]:
# a)
survey_sp_pl = pd.merge(survey_species, plots_df, on='plot_id')

parcelas_por_tipo = survey_sp_pl['plot_type'].value_counts()

parcelas_por_tipo

Control                      15611
Short-term Krat Exclosure     5906
Long-term Krat Exclosure      5118
Rodent Exclosure              4233
Spectab exclosure             3918
Name: plot_type, dtype: int64